.tasks {
  padding: 29px 0 15px 0;
}

.tasks-header {
  display: flex;
  align-items: center;
  column-gap: 7px;
}
.tasks-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #28303f;
}

.tasks-back {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}

.tasks-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.tasks-filter {
  display: flex;
  align-items: center;
  margin: 35px 0 15px 0;
}

.tasks-search-icon {
  width: 20px;
  height: 20px;
}

.tasks-filter input {
  border: none;
  width: 110px;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #d9d9d9;
}

.tasks-sort {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  column-gap: 15px;
  padding: 29px 0 15px 0;
}

.ant-select-selector {
  height: 40px !important;
  border: none !important;
  background: #ffffff !important;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
}

.ant-select-selector:hover {
  border: none !important;
}

.ant-select-selection-item {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: #b7b7b7 !important;
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  letter-spacing: normal !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
}

.ant-select-item-option-content {
  font-family: 'Inter', sans-serif;
  letter-spacing: normal !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 15px !important;
}

.ant-select-item-option {
  display: flex;
  align-items: center;
}

.popup-select {
  border-radius: 8px !important;
}
