.textarea-label {
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #28303f;
  margin: 0 0 5px 0;
}

.textarea-container {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 14px 14px 14px 14px;
}

.textarea-content {
  width: 100%;
  display: flex;
  column-gap: 9px;
  align-items: flex-start;
}

.textarea-content textarea {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
  overflow: auto;
  max-height: 340px;
  font-family: 'Inter', sans-serif !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.textarea-content textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #b7b7b7;
}
